# REQUIRED
WAUTH_DEBUG=
WAUTH_PORT=
## used to sign JWTs
WAUTH_SIGNING_KEY=
## Database connection URL
WAUTH_DB_HOST=
WAUTH_DB_PORT=
WAUTH_DB_USER=
WAUTH_DB_PASS=
WAUTH_DB_NAME=
# Use either require, verify-full, verify-ca, or disabled
WAUTH_DB_SSLMODE=

# OPTIONAL
## SMTP host, used to send forgotten password emails
WAUTH_MAIL_HOST=
WAUTH_MAIL_USER=
WAUTH_MAIL_PASS=
WAUTH_MAIL_PORT=
WAUTH_MAIL_DEFAULT_TO=
## Domain name of where it is being hosted so we can
##  restrict callbacks to certain domains
WAUTH_DOMAIN_NAME=
WAUTH_BASE_DOMAIN_NAME=
## URL of where to redirect after successful logout
WAUTH_LOGOUT_ENDPOINT=

# OPTIONAL (if left blank, will generate random keys)
## 64 bytes of hex, used for cookies
WAUTH_AUTHENTICATION_KEY=
## 32 bytes of hex, used for cookies
WAUTH_ENCRYPTION_KEY=
## Default is "session", here to avoid collisions
WAUTH_SESSION_COOKIE_NAME=
