<!DOCTYPE html>
<html>
  <head>
    <title>YSTV Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <style>
:root {
    body {
      background: rgb(247, 247, 247);
    }
    </style>
  {{/* <body>
    <section class="navbar">
    <h1>web-auth</h1>
    <ul>
        <li><a href="/">Home</a></li>
        {{if .User.Authenticated}}
            <li><a href="/internal/">Internal</a></li>
            <li><a href="/logout/">Logout ({{.User.Email}})</a></li>
        {{else}}
            <li><a href="/login/">Login</a></li>
            <li><a href="/signup/">Signup</a></li>
        {{end}}
    </ul>
    </section class="navbar">
  </body> */}}
</html>
