{{define "title"}}Internal{{end}}
{{define "content"}}
    <div class="column is-10">
        <section class="hero is-info welcome is-small">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Hello, {{.Nickname}}.</h1>
                    <h2 class="subtitle">Last login: {{.LastLogin}}</h2>
                </div>
            </div>
        </section>
        {{if (checkPermission .UserID "ManageMembers.Members.List")}}
            <section class="info-tiles">
                <div class="tile is-ancestor has-text-centered">
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title">{{.TotalUsers}}</p>
                            <p class="subtitle">Total users</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title">{{.LoginsPast24Hours}}</p>
                            <p class="subtitle">Active users in the past 24 hours</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title">{{.ActiveUsersPastYear}}</p>
                            <p class="subtitle">Active users in the past year</p>
                        </article>
                    </div>
    {{/*                <div class="tile is-parent">*/}}
    {{/*                    <article class="tile is-child box">*/}}
    {{/*                        <p class="title">2</p>*/}}
    {{/*                        <p class="subtitle">Password resets past week</p>*/}}
    {{/*                    </article>*/}}
    {{/*                </div>*/}}
                </div>
            </section>
        {{else}}
            <section class="info-tiles">
                <div class="tile is-ancestor has-text-centered">
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title">Welcome to YSTV</p>
                            <p class="subtitle">Please use the links on the left to use our services</p>
                        </article>
                    </div>
                </div>
            </section>
        {{end}}
{{/*        <div class="columns">*/}}
{{/*            <div class="column is-6" style="padding-left: 0;">*/}}
{{/*                <div class="card events-card">*/}}
{{/*                    <header class="card-header">*/}}
{{/*                        <p class="card-header-title">Events</p>*/}}
{{/*                    </header>*/}}
{{/*                    <div class="card-table">*/}}
{{/*                        <div class="content">*/}}
{{/*                            <table class="table is-fullwidth is-striped">*/}}
{{/*                                <tbody>*/}}
{{/*                                <tr>*/}}
{{/*                                    <td style="width: 5%"><i class="fa fa-bell-o"></i></td>*/}}
{{/*                                    <td>Password reset for user "Bob Dylan"</td>*/}}
{{/*                                </tr>*/}}
{{/*                                <tr>*/}}
{{/*                                    <td style="width: 5%"><i class="fa fa-bell-o"></i></td>*/}}
{{/*                                    <td>User created "Bobby Dylan"</td>*/}}
{{/*                                </tr>*/}}
{{/*                                </tbody>*/}}
{{/*                            </table>*/}}
{{/*                        </div>*/}}
{{/*                    </div>*/}}
{{/*                </div>*/}}
{{/*            </div>*/}}
{{/*            <div class="column is-6" style="padding-right: 0;">*/}}
{{/*                <div class="card">*/}}
{{/*                    <header class="card-header">*/}}
{{/*                        <label class="card-header-title" for="searchUser">User Search</label>*/}}
{{/*                    </header>*/}}
{{/*                    <div class="card-content">*/}}
{{/*                        <div class="content">*/}}
{{/*                            <div class="control has-icons-left has-icons-right">*/}}
{{/*                                <input id="searchUser" name="searchUser" class="input" type="text" placeholder=""/>*/}}
{{/*                                <span class="icon is-medium is-left">*/}}
{{/*                        <i class="fa fa-search"></i>*/}}
{{/*                      </span>*/}}
{{/*                            </div>*/}}
{{/*                        </div>*/}}
{{/*                    </div>*/}}
{{/*                </div>*/}}
{{/*            </div>*/}}
{{/*        </div>*/}}
    </div>
{{end}}