<!DOCTYPE html>
<html>
  <head>
    <title>Internal</title>
  </head>
  <body>
    {{template "head.gohtml" .}}
    <h1>Internal</h1>
    <p>Welcome {{.User.Username}}</p>
    <a href="/api/set_token">Get API token</a>
    <a href="/api/test">Test API</a>
    <a href="/api/refresh_token">Refresh token</a> (only works when expiry <30s)
    <a href="http://creator.ystv.co.uk">Creator Studio</a>
    <a href="/logout/">Logout</a>
  </body>
</html>
