<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    {{template "head.tmpl" .}}
    <h1>Login</h1>
    <form action="/login/" method="POST">
      Username:
      <input
        type="text"
        name="username"
        style="border: 1px solid gray; box-shadow: none;"
      /><br />
      Password:
      <input
        type="password"
        name="password"
        style="border: 1px solid gray; box-shadow: none;"
      /><br />
      <input
        type="submit"
        value="login"
        style="border: 1px solid gray; box-shadow: none;"
      />
    </form>
    <p>Very good security approved™℠®©</p>
    <img src="/static/dog.gif" alt="Sniffer dog sniffing for hooligans!">
  </body>
</html>
