<nav class="navbar is-white">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item brand-text" href="../">web-auth</a>
      <a class="navbar-item" href="../logout">Logout</a>
    </div>
  </div>
</nav>
