{{define "title"}}Internal: Roles{{end}}
{{define "content"}}
    <div class="column is-10">
        <div class="card events-card">
            <header class="card-header">
                <p class="card-header-title">Roles</p>
            </header>
            <div class="card-table">
                <div class="content">
                    <table class="table is-fullwidth is-hoverable">
                        <thead>
                        <tr>
                            <th>Role ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range $role := .Roles }}
                            <tr>
                                <th>{{ $role.RoleID }}</th>
                                <td>{{ $role.Name }}</td>
                                <td>{{ $role.Description }}</td>
                                <td><a href="./role/{{ $role.RoleID }}">View</a></td>
                            </tr>
                        {{ end }}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Role ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{{end}}