{{define "title"}}Settings{{end}}
{{define "content"}}
    <div class="column is-10">
        <section class="hero is-info welcome is-small">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Hello, {{.Nickname}}.</h1>
                    <h2 class="subtitle">Last login: {{.LastLogin}}</h2>
                </div>
            </div>
        </section>
        <br>
        <br>
        <p>{{.User}}</p>
    </div>
{{end}}