<!DOCTYPE html>
<html>
  <head>
    <title>Signup</title>
    {{template "head.gohtml" .}}
  </head>
  <body>
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-5-tablet is-4-desktop is-3-widescreen">
              <div class="box">
              <progress class="progress is-link" value="30" max="90">30%</progress>
                <p class="title is-5">Create an account</p>
                <p>Fill out this form and you are on your next step to joining YSTV.</p>
              </div>
            </div>
            <div class="column is-5-tablet is-4-desktop is-3-widescreen">
              <form action="" method="POST" class="box">
                <div class="field">
                  <label class="label">First name</label>
                  <div class="control has-icons-left">
                    <input
                      class="input"
                      type="text"
                      name="firstname"
                      placeholder="John"
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Last name</label>
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      name="lastname"
                      placeholder="Smith"
                    />
                  </div>
                </div>

                <div class="field">
                  <label class="label">Email address</label>
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      name="email"
                      placeholder="rdjm502@york.ac.uk"
                    />
                  </div>
                </div>


                <div class="field">
                  <label class="label">Password</label>
                  <div class="control has-icons-left">
                    <input
                      class="input"
                      type="password"
                      name="password"
                      placeholder="********"
                    />
                    <span class="icon is-small is-left">
                      <i class="fa fa-lock"></i>
                    </span>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Confirm password</label>
                  <div class="control has-icons-left">
                    <input
                      class="input"
                      type="password"
                      name="confirmpassword"
                      placeholder="********"
                    />
                    <span class="icon is-small is-left">
                      <i class="fa fa-lock"></i>
                    </span>
                  </div>
                </div>
                
                <div class="control">
                  <input class="button is-link" type="submit" value="Signup" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
