{{define "title"}}Internal: Users{{end}}
{{define "content"}}
    <div class="column is-10">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">Sort by</p>
            </header>
            <form method="post" action="">
                <div class="register">
                    <div class="columns">
                        <div class="field">
                            <label for="column">Select the column to sort</label>
                            <div class="control has-icons-left">
                                <select id="column" name="column">
                                    <option value="userId">User ID</option>
                                    <option value="name">Name</option>
                                    <option value="username">Username</option>
                                    <option value="email">Email</option>
                                    <option value="lastLogin">Last Login</option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <label for="direction">Ascending or Descending</label>
                            <div class="control has-icons-left">
                                <select id="direction" name="direction">
                                    <option value="asc">Ascending</option>
                                    <option value="desc">Descending</option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <p class="control">
                                <input
                                        class="button is-link"
                                        type="submit"
                                        value="Submit"
                                />
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br><br>
        <div class="card events-card">
            <header class="card-header">
                <p class="card-header-title">Users</p>
            </header>
            <div class="card-table">
                <div class="content">
                    <table class="table is-fullwidth is-hoverable">
                        <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Name</th>
                            <th>Nickname</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Last login</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range $user := .Users }}
                            <tr>
                                <th>{{ $user.UserID }}</th>
                                <td>{{ $user.Name }}</td>
                                <td>{{ $user.Nickname }}</td>
                                <td>{{ $user.Username }}</td>
                                <td>{{ $user.Email }}</td>
                                <td>{{ $user.LastLogin }}</td>
                                <td><a href="./user/{{ $user.UserID }}">View</a></td>
                            </tr>
                        {{ end }}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>User ID</th>
                            <th>Name</th>
                            <th>Nickname</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Last login</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{{end}}