{{define "title"}}Internal: Users{{end}}
{{define "content"}}
    <div class="column is-10">
        <section class="hero is-info welcome is-small">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">You are currently viewing {{.User.UserID}}.</h1>
                </div>
            </div>
        </section>
        <br>
        <div class="columns box" style="height: fit-content">
            <div class="column is-2">
                <figure class="avatar">
                    {{if .User.UseGravatar}}<img src="{{.Gravatar}}" alt="placeholder" width="128px" height="128px"/>{{else}}
                    <img src="https://placehold.it/128x128" alt="placeholder"/>{{end}}
                </figure>
                <div class="buttons">
                    <button class="button is-info is-outlined">
                        Reset password
                    </button>
                    <button class="button is-warning is-outlined">
                        Deactivate
                    </button>
                    <button class="button is-danger is-outlined">Delete</button>
                </div>
            </div>
            <div class="column">
                {{with .User}}
                    <p>Current user information...<br>
                        User ID: {{.UserID}}<br>
                        First name: {{.Firstname}}<br>
                        Last name: {{.Lastname}}<br>
                        Nickname: {{.Nickname}}<br>
                        Username: {{.Username}}<br>
                        Email: {{.Email}}<br>
                        Last login: {{$.LastLogin}}<br>
                        Permissions: {{.Permissions}}<br>
                        Avatar source: {{if .UseGravatar}}Using gravatar{{else}}Using local file{{end}}<br><br></p>
                        <p class="subtitle">Use the fields below to modify the user.</p>
                {{end}}
                <form>
                    <div class="field">
                        <label class="label" for="nickname">Nickname</label>
                        <div class="control">
                            <input
                                    id="nickname"
                                    class="input"
                                    type="text"
                                    placeholder="Nickname"
                            />
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="firstname">First name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Nickname"/>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="email">Email</label>
                        <div class="control">
                            <input class="input" type="email" placeholder="Email" id="email"/>
                        </div>
                    </div>
                    <button class="button is-block is-info">Update</button>
                </form>
            </div>
        </div>
    </div>
{{end}}