{{define "title"}}Internal: Users{{end}}
{{define "content"}}
    <div class="column is-10">
        <div class="card events-card">
            <header class="card-header">
                <p class="card-header-title">Users</p>
            </header>
            <div class="card-table">
                <div class="content">
                    <table class="table is-fullwidth is-hoverable">
                        <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Last login</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range $user := .Users }}
                            <tr>
                                <th>{{ $user.UserID }}</th>
                                <td>{{ $user.Name }}</td>
                                <td>{{ $user.Username }}</td>
                                <td>{{ $user.Email }}</td>
                                <td>{{ $user.LastLogin }}</td>
                                <td><a href="./user/{{ $user.UserID }}">View</a></td>
                            </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{{end}}