<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    {{template "head.tmpl" .}}
    <h1>Welcome</h1>
    <p>Greeting: {{.Greeting}}</p>
    <p>Version: {{.Version}}</p>
  </body>
</html>
