<!DOCTYPE html>
<html lang="en">
<head>
    {{template "_head" .}}
    <title>YSTV Web Auth - {{block "title" .}}{{end}}</title>
</head>
<body>
{{block "navbar-block" .}}
    {{template "_navbar" .}}
{{end}}
<div class="container">
    <div class="columns">
        {{block "sidebar-block" .}}
            {{template "_sidebar" .}}
        {{end}}
        {{block "content-block" .}}
            {{template "content" .}}
        {{end}}
    </div>
</div>
<br>
{{block "footer-block" .}}
    {{template "_footer" .}}
{{end}}
</body>
</html>