<!DOCTYPE html>
<html lang="en">
<head>
    {{template "_head" .}}
    <title>{{block "title" .}}Web Auth{{end}}</title>
</head>
<body>
{{block "content-block" .}}
    {{template "content" .}}
{{end}}
{{block "footer-block" .}}
    {{template "_footer" .}}
{{end}}
</body>
</html>