{{define "_footer"}}
    {{ $year := thisYear }}
{{/*    <footer style="text-align: center; position: fixed; margin: 0 0 0 -10px; bottom: 0; width: 100%; height: 40px;">*/}}
        <footer style="text-align: center; margin: 0 0 0 -10px; bottom: 0; width: 100%; height: 40px;">
        Created by Rhys Milling, Connor Sanders, Liam Burnand, Marks Polakovs and Ben Allen - 2020{{if ne $year 2020}}-{{ $year }}{{end}}
    </footer>
{{end}}