{{define "_head"}}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://code.jquery.com/jquery-3.7.0.slim.min.js"
            integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/main.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
    <link rel="manifest" href="/public/site.webmanifest">
    <link rel="mask-icon" href="/public/safari-pinned-tab.svg" color="#343434">
    <link rel="shortcut icon" href="/public/favicon.ico">
    <meta name="msapplication-TileColor" content="#343434">
    <meta name="msapplication-config" content="/public/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" type="image/x-icon" href="/public/ystv.ico">
    <link href="/public/bulma-calendar.min.css" rel="stylesheet">
    <script src="/public/bulma-calendar.min.js"></script>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <script
            defer
            src="https://use.fontawesome.com/releases/v6.4.2/js/all.js"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css"/>
    <link rel="stylesheet" type="text/css" href="/public/internal.css"/>
    <style>
        .tab {
            display: inline-block;
            margin-left: 40px;
        }
    </style>
{{end}}