{{define "_head"}}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://code.jquery.com/jquery-3.7.0.slim.min.js"
            integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/main.css"/>
    <link rel="icon" type="image/png" href="/public/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/public/favicon.svg" />
    <link rel="shortcut icon" href="/public/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="YSTV Web Auth" />
    <link rel="manifest" href="/public/site.webmanifest" />
    <link href="/public/bulma-calendar.min.css" rel="stylesheet">
    <script src="/public/bulma-calendar.min.js"></script>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <script
            defer
            src="https://use.fontawesome.com/releases/v6.4.2/js/all.js"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css"/>
    <link rel="stylesheet" type="text/css" href="/public/internal.css"/>
    <style>
        .tab {
            display: inline-block;
            margin-left: 40px;
        }
    </style>
{{end}}