{{define "_sidebar"}}
<div class="column is-2">
    <aside class="menu is-hidden-mobile">
        {{ $page := .ActivePage }}
        <p class="menu-label">General</p>
        <ul class="menu-list">
            <li><a {{if eq $page "dashboard"}}class="is-active"{{end}} href="/internal">Dashboard</a></li>
            {{if (checkPermission .UserID "ManageMembers.Members.List")}}
                <li><a {{if eq $page "users"}}class="is-active"{{end}} href="/internal/users">Users</a></li>
            {{else if (checkPermission .UserID "ManageMembers.Members.Add")}}
                <li><a {{if eq $page "useradd"}}class="is-active"{{end}} href="/internal/user/add">Add User</a></li>
            {{end}}
            {{if (checkPermission .UserID "ManageMembers.Groups")}}
                <li><a {{if eq $page "roles"}}class="is-active"{{end}} href="/internal/roles">Roles</a></li>
            {{end}}
            {{if (checkPermission .UserID "ManageMembers.Permissions")}}
                <li><a {{if eq $page "permissions"}}class="is-active"{{end}} href="/internal/permissions">Permissions</a></li>
            {{end}}
            <li><a {{if eq $page "settings"}}class="is-active"{{end}} href="/internal/settings">Settings</a></li>
        </ul>
        <p class="menu-label">API Interactions</p>
        <ul class="menu-list">
            <li><a {{if eq $page "apiManage"}}class="is-active"{{end}} href="/api/manage">Manage API tokens</a></li>
            <li><a {{if eq $page "apiGet"}}class="is-active"{{end}} href="/api/get_token">Get API token</a></li>
            <li><a {{if eq $page "apiTest"}}class="is-active"{{end}} href="/api/test">Test API</a></li>
        </ul>
        <p class="menu-label">Secured sites</p>
        <ul class="menu-list">
            <li><a href="https://my.ystv.co.uk">MyTV</a></li>
            <li><a href="https://creator.ystv.co.uk">Creator Studio</a></li>
            {{if (checkPermission .UserID "COBRA")}}
                <li><a href="https://cobra.ystv.co.uk">COBRA</a></li>
            {{end}}
        </ul>
    </aside>
</div>
{{end}}