{{define "title"}}Manage API tokens{{end}}
{{define "content"}}
    <style>
        .toolbar ol {
            display: table-row;
        }

        .toolbar ol li {
            margin-bottom: 10px;
            vertical-align: middle;
        }

        .toolbar ol li a {
            vertical-align: middle;
        }
    </style>
    <div class="column is-10" style="min-height: 88vh">
        <section class="hero is-info welcome is-small">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Manage API tokens</h1>
                </div>
            </div>
        </section>
        <br>
        <div class="columns box" style="height: fit-content">
            <div class="column">
                {{if .AddedJWT}}<label style="color: green">Successfully added the token!<br
                    >Copy this token text as this is the only time this is visible and cannot be recovered!<br>
                    <textarea disabled class="input" wrap="hard">{{.AddedJWT}}</textarea><br>
                    <a class="button is-info" onclick="copyJWT()"><span class="mdi mdi-content-copy"></span>&ensp;Click to copy</a></label><br><br>
                <script>
                    function copyJWT() {
                        navigator.clipboard.writeText("{{.AddedJWT}}");
                    }
                    $("textarea").each(function () {
                        this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;resize:none;");
                    }).on("input", function () {
                        this.style.height = 0;
                        this.style.height = (this.scrollHeight) + "px";
                    });
                </script>{{end}}
                <p>Here you can manage your API keys.<br>
                    If you are not part of Computing team and not making an application, this page is probably not for
                    you.<br>
                    <strong>Be warned, these keys will authenticate as you and will be treated as such - they can be
                        very powerful!</strong><br>
                    Below is listed any tokens that you have created that are still valid (any expired keys will be
                    automatically deleted).</p>
                <br>
                <a class="button is-info" onclick="addTokenModal()">Add token</a>
                <br>
                <br>
                <table style="border-collapse: collapse; width: 100%;">
                    <tbody>
                    {{if gt (len .Tokens) 0}}
                        <tr style="border: none;">
                            <th colspan="2" style="padding: 10px 0 10px 0;">
                                Current tokens
                            </th>
                        </tr>
                        {{range .Tokens}}
                            <tr style="border: none;">
                                <td style="border: none; padding-left: 2em;">
                                    {{.Name}}{{if .Description}} - {{.Description}}{{end}}
                                </td>
                                <td style="border: none;">
                                    <a class="button is-danger is-outlined" onclick="removeTokenFromAPIModal({{.TokenID}}, {{.Name}})">
                                        <span class="mdi mdi-key-minus"></span>&ensp;Remove token</a>
                                </td>
                            </tr>
                        {{end}}
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{template "modals" .}}
{{end}}

{{define "modals"}}
    <div id="addTokenModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title">Add token</p>
                            <p>Enter the token details below.<br>
                            More granularity is coming soon!</p>
                            <form action="/internal/api/manage/add" method="post">
                                <div class="field">
                                    <label class="label" for="expiry">Expiry</label>
                                    <div class="control">
                                        <input
                                                type="date"
                                                id="expiry"
                                                name="expiry"
                                        />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="name">Name (at least 3 characters)</label>
                                    <div class="control">
                                        <input
                                                id="name"
                                                class="input"
                                                type="text"
                                                name="name"
                                                placeholder="Name"
                                        />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="description">Description (can be left blank)</label>
                                    <div class="control">
                                        <input
                                                id="description"
                                                class="input"
                                                type="text"
                                                name="description"
                                                placeholder="Description"
                                        />
                                    </div>
                                </div>
                                <button class="button is-info"><span class="mdi mdi-key-plus"></span>
                                    Add token</button>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="removeTokenFromAPIModal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <p class="title" id="removeTokenFromAPIModalTitle"></p>
                                <p><strong>This cannot be undone</strong></p>
                                <form id="removeTokenFromAPIModalForm" method="post">
                                    <a class="button is-danger" onclick="removeTokenFromAPI()">Remove token</a>
                                </form>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>
    <script>
        document.querySelectorAll(
            ".modal-background, .modal-close,.modal-card-head .delete, .modal-card-foot .button"
        ).forEach(($el) => {
            const $modal = $el.closest(".modal");
            $el.addEventListener("click", () => {
                $modal.classList.remove("is-active");
            });
        });

        function addTokenModal() {
            let date = new Date();
            date.setDate(date.getDate() + 3);
            let day = date.getDate();
            let month = date.getMonth() + 1;
            let year = date.getFullYear();
            const options = {
                type: "date",
                minDate: day + "/" + month + "/" + year,
                startDate: day + "/" + month + "/" + year,
                dateFormat: 'dd/MM/yyyy',
                showClearButton: false,
                showTodayButton: false,
                displayMode: "dialog",
                weekStart: 1
            }
            // Initialise all input of date type.
            const calendars = bulmaCalendar.attach('[type="date"]', options);

            // Loop on each calendar initialised
            calendars.forEach(calendar => {
                // Add listener to select event
                calendar.on('select', date => {
                    console.log(date);
                });
            });
            const elements = document.getElementsByClassName("datetimepicker-clear-button");
            while(elements.length > 0){
                elements[0].parentNode.removeChild(elements[0]);
            }
            document.getElementById("addTokenModal").classList.add("is-active");
        }

        let tokenID = 0;

        function removeTokenFromAPIModal(tokenID1, name) {
            tokenID = tokenID1;
            document.getElementById("removeTokenFromAPIModal").classList.add("is-active");
            document.getElementById("removeTokenFromAPIModalTitle").innerHTML = 'Are you sure you want to remove "' + name + '" token?';
        }

        function removeTokenFromAPI() {
            document.getElementById("removeTokenFromAPIModalForm").action = "/internal/api/manage/" + tokenID + "/delete";
            $('#removeTokenFromAPIModalForm').submit();
        }
    </script>
{{end}}