{{define "title"}}{{.Title}}{{end}}
{{define "content"}}
    <section class="hero is-fullheight" style="min-height: 95vh">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                        <div class="box">
                            <progress class="progress is-link" value="60" max="90">60%
                            </progress>
                            <p class="title is-5">{{.Title}}</p>
                            <p>{{.Message}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{end}}