{{define "title"}}Internal: Officerships{{end}}
{{define "content"}}
    <div class="column is-10" style="min-height: 88vh">
        <div class="card events-card">
            <header class="card-header">
                <p class="card-header-title">Officerships</p>
            </header>
            <div class="card" style="margin-bottom: 0">
                <div class="column">
                    <div class="field">
                        <a onclick="addOfficershipModal()" class="button is-info"><span class="mdi mdi-account-plus"></span>&ensp;Add Officership</a>
                    </div>
                </div>
            </div>
            <div class="card-table">
                <div class="content">
                    <table class="table is-fullwidth is-hoverable">
                        <thead>
                        <tr>
                            <th>Officership ID</th>
                            <th>Name</th>
                            <th>Team</th>
                            <th>Current Officers</th>
                            <th>Previous Officers</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{range .Officerships}}
                            <tr>
                                <th>{{.OfficershipID}}</th>
                                <td>{{.Name}}</td>
                                <td>{{if .TeamName.Valid}}{{.TeamName.String}}{{else}}UNKNOWN{{end}}</td>
                                <td>{{.CurrentOfficers}}</td>
                                <td>{{.PreviousOfficers}}</td>
                                <td><a href="/internal/officership/{{.OfficershipID}}">View</a></td>
                            </tr>
                        {{end}}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Officership ID</th>
                            <th>Name</th>
                            <th>Team</th>
                            <th>Current Officers</th>
                            <th>Previous Officers</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{template "modal" .}}
{{end}}

{{define "modal"}}
    <div id="addOfficershipModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title">Add officership</p>
                            <p>Enter the officership's details below.</p>
                            <form action="/internal/officership/team/add" method="post">
                                <div class="field">
                                    <label class="label" for="name">Name</label>
                                    <div class="control">
                                        <input
                                                id="name"
                                                class="input"
                                                type="text"
                                                name="name"
                                                placeholder="Name"
                                        />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="shortDescription">Short description</label>
                                    <div class="control">
                                        <textarea
                                                id="shortDescription"
                                                class="input"
                                                name="shortDescription"
                                                placeholder="Short description"
                                        ></textarea>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="fullDescription">Full description</label>
                                    <div class="control">
                                        <textarea
                                                id="fullDescription"
                                                class="input"
                                                name="fullDescription"
                                                placeholder="Full description"
                                        ></textarea>
                                    </div>
                                </div>
                                <button class="button is-info"><span class="mdi mdi-account-plus"></span>&ensp;Add officership</button>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <script>
        document.querySelectorAll(
            ".modal-background, .modal-close,.modal-card-head .delete, .modal-card-foot .button"
        ).forEach(($el) => {
            const $modal = $el.closest(".modal");
            $el.addEventListener("click", () => {
                $modal.classList.remove("is-active");
            });
        });

        function addOfficershipModal() {
            document.getElementById("addOfficershipModal").classList.add("is-active");
        }
    </script>
{{end}}