{{define "title"}}Internal: Role ({{.Role.Name}}){{end}}
{{define "content"}}
    <div class="column is-10" style="min-height: 88vh">
        <section class="hero is-info welcome is-small">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">{{.Role.Name}}</h1>
                </div>
            </div>
        </section>
        <br>
        <div class="columns box" style="height: fit-content">
            <div class="column is-2">
                <div class="buttons" style="display: block">
                    <a class="button is-warning is-outlined">
                        Edit
                    </a>
                    <a class="button is-danger is-outlined" onclick="deleteRoleModal()">
                        Delete
                    </a>
                </div>
            </div>
            <div class="column">
                {{parseRoleIntoHTML .Role .UserPermissions}}
            </div>
        </div>
    </div>
{{end}}

{{define "modals"}}
    <div id="deleteRoleModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title">Are you sure you want to delete this role?</p>
                            <p>Be careful! Permissions and users use the role id and will have to set back up manually.</p>
                            <a class="button is-danger" onclick="deleteRole()">Delete role</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <script>
        document.querySelectorAll(
            ".modal-background, .modal-close,.modal-card-head .delete, .modal-card-foot .button"
        ).forEach(($el) => {
            const $modal = $el.closest(".modal");
            $el.addEventListener("click", () => {
                $modal.classList.remove("is-active");
            });
        });

        function deleteRoleModal() {
            document.getElementById("deleteRoleModal").classList.add("is-active");
        }

        function deleteRole() {
            // unimplemented for now
        }
    </script>
{{end}}