{{define "title"}}Internal: Roles{{end}}
{{define "content"}}
    <div class="column is-10">
        <div class="card events-card">
            <header class="card-header">
                <p class="card-header-title">Roles</p>
            </header>
            <div class="card" style="margin-bottom: 0">
                <div class="column">
                    <div class="field">
                        <a onclick="addRoleModal()" class="button is-info">Add Role</a>
                    </div>
                </div>
            </div>
            <div class="card-table">
                <div class="content">
                    <table class="table is-fullwidth is-hoverable">
                        <thead>
                        <tr>
                            <th>Role ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Users</th>
                            <th>Permissions</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{parseHTMLRoles .Roles}}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Role ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Users</th>
                            <th>Permissions</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

{{end}}