{{define "title"}}Internal: Roles{{end}}
{{define "content"}}
    <div class="column is-10">
        <div class="card events-card">
            <header class="card-header">
                <p class="card-header-title">Roles</p>
            </header>
            <div class="card" style="margin-bottom: 0">
                <div class="column">
                    <div class="field">
                        <a onclick="addRoleModal()" class="button is-info">Add Role</a>
                    </div>
                </div>
            </div>
            <div class="card-table">
                <div class="content">
                    <table class="table is-fullwidth is-hoverable">
                        <thead>
                        <tr>
                            <th>Role ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Users</th>
                            <th>Permissions</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{parseHTMLRoles .Roles}}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Role ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Users</th>
                            <th>Permissions</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{template "modal" .}}
{{end}}

{{define "modal"}}
    <div id="addRoleModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title">Add role</p>
                            <p>Enter the role's details below.</p>
                            <form id="addRoleForm" action="/internal/role/add" method="post">
                                <label for="name">Name</label>
                                <input type="text" class="input" name="name" id="name">
                                <label for="description">Description</label>
                                <textarea class="input" id="description" name="description"></textarea>
                                <button class="button is-info">Add role</button>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <script>
        document.querySelectorAll(
            ".modal-background, .modal-close,.modal-card-head .delete, .modal-card-foot .button"
        ).forEach(($el) => {
            const $modal = $el.closest(".modal");
            $el.addEventListener("click", () => {
                $modal.classList.remove("is-active");
            });
        });

        function addRoleModal() {
            document.getElementById("addRoleModal").classList.add("is-active");
        }
    </script>
{{end}}