{{define "title"}}Settings{{end}}
{{define "content"}}
    <div class="column is-10" style="min-height: 88vh">
        <section class="hero is-info welcome is-small">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Hello, {{.User.Nickname}}.</h1>
                    <h2 class="subtitle">Last login: {{.LastLogin}}</h2>
                </div>
            </div>
        </section>
        <br>
        <div class="columns box" style="height: fit-content">
            <div class="column is-3">
                <figure class="avatar">
                    {{if .User.UseGravatar}}<img src="{{.Gravatar}}" alt="placeholder" width="192px"
                                                 height="192px"/>{{else if gt (len .User.Avatar) 0}}
                        <img src="{{.User.Avatar}}" alt="placeholder" style="max-width:192px; max-height:192px"/>{{else}}
                        <img src="/public/ystv-colour-white.png" alt="placeholder" width="192px"
                             height="192px"/>{{end}}
                </figure>
                <div class="buttons">
                    <a class="button is-info is-outlined" onclick="changePasswordModal()">
                        <span class="mdi mdi-account-key"></span>&ensp;Change password
                    </a>
                    <a class="button is-info is-outlined" onclick="editDetailsModal()">
                        <span class="mdi mdi-account-edit"></span>&ensp;Edit your details
                    </a>
                </div>
            </div>
            <div class="column">
                <p id="message" style="color: green"></p>
                <p id="error" style="color: red"></p>
                {{with .User}}
                    <p>Your current information...<br>
                        First name: {{.Firstname}}<br>
                        Last name: {{.Lastname}}<br>
                        Nickname: {{.Nickname}}<br>
                        Username: {{.Username}}<br>
                        Email: {{.Email}}<br>
                        Avatar source: {{if .UseGravatar}}Using gravatar{{else}}Using local file{{end}}<br><br></p>
                {{end}}
            </div>
        </div>
    </div>
    {{template "modals" .}}
{{end}}

{{define "modals"}}
    <div id="changePasswordModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title">Change your password</p>
                            <p>Please enter your current password then your new password and confirm the new password.</p>
                            <form id="changePasswordForm">
                                <div class="field">
                                    <label class="label" for="oldPassword">Enter your old password</label>
                                    <div class="control">
                                        <input
                                                id="oldPassword"
                                                class="input"
                                                type="password"
                                                name="oldPassword"
                                                placeholder="********"
                                        />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="newPassword">Enter your new password</label>
                                    <div class="control">
                                        <input
                                                id="newPassword"
                                                class="input"
                                                type="password"
                                                name="newPassword"
                                                placeholder="********"
                                        />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="confirmationPassword">Enter your new password again</label>
                                    <div class="control">
                                        <input
                                                id="confirmationPassword"
                                                class="input"
                                                type="password"
                                                name="confirmationPassword"
                                                placeholder="********"
                                        />
                                    </div>
                                </div>
                            </form>
                            <br>
                            <a class="button is-warning" onclick="changePassword()"><span class="mdi mdi-account-key"></span>&ensp;Change password</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="editDetailsModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title">Are you sure you want to edit your details?</p>
                            <p><strong>This action can be undone by changing them back</strong><br>
                                Use the fields below to modify your details, to not change a field, either leave it as
                                is or blank.<br>If you wish for any other details to change not in this form, please
                                contact the Computing Team on Slack at #computing.</p>
                            <form action="/internal/settings" method="post">
                                <div class="field">
                                    <label class="label" for="firstname">First name</label>
                                    <div class="control">
                                        <input
                                                id="firstname"
                                                class="input"
                                                type="text"
                                                name="firstname"
                                                placeholder="First name"
                                                value="{{.User.Firstname}}"
                                        />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="nickname">Nickname</label>
                                    <div class="control">
                                        <input
                                                id="nickname"
                                                class="input"
                                                type="text"
                                                name="nickname"
                                                placeholder="Nickname"
                                                value="{{.User.Nickname}}"
                                        />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="lastname">Last name</label>
                                    <div class="control">
                                        <input
                                                id="lastname"
                                                class="input"
                                                type="text"
                                                name="lastname"
                                                placeholder="Last name"
                                                value="{{.User.Lastname}}"
                                        />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="avatar">Avatar (coming soon)</label>
                                    <div class="control">
                                        <input
                                                id="avatar"
                                                class="input"
                                                type="text"
                                                name="avatar"
                                                placeholder="Coming soon"
                                                value="Coming soon"
                                                disabled
                                        />
                                    </div>
                                </div>
                                <button class="button is-danger"><span class="mdi mdi-account-edit"></span>&ensp;Edit details </button>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <script>
        document.querySelectorAll(
            ".modal-background, .modal-close,.modal-card-head .delete, .modal-card-foot .button"
        ).forEach(($el) => {
            const $modal = $el.closest(".modal");
            $el.addEventListener("click", () => {
                $modal.classList.remove("is-active");
            });
        });

        function changePasswordModal() {
            document.getElementById("changePasswordModal").classList.add("is-active");
        }

        function editDetailsModal() {
            document.getElementById("editDetailsModal").classList.add("is-active");
        }

        function changePassword() {
            $.ajax({
                url: '/internal/changepassword',
                type: 'post',
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded',
                data: $('#changePasswordForm').serialize(),
                success: function (data) {
                    document.getElementById("changePasswordModal").classList.remove("is-active");
                    $("#message").html(data.message);
                    $("#error").html(data.error);
                },
            })
        }
    </script>
{{end}}