{{define "title"}}Internal: User ({{formatUserName .User}}){{end}}
{{define "content"}}
    <div class="column is-10" style="min-height: 88vh">
        <section class="hero is-info welcome is-small">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">{{formatUserName .User}}</h1>
                </div>
            </div>
        </section>
        <br>
        <div class="columns box" style="height: fit-content">
            <div class="column is-2">
                <figure class="avatar">
                    <img src="{{.User.Avatar}}" alt="{{.User.Avatar}}" width="128px"
                         height="128px"/>
                </figure>
                {{if not .User.DeletedAt.Valid}}
                    <div class="buttons" style="display: block">
                        <a class="button is-info is-outlined" onclick="resetPasswordModal()">
                            <span class="mdi mdi-account-key"></span>&ensp;Reset password
                        </a>
                        <a class="button is-info is-outlined" onclick="editUserModal()">
                            <span class="mdi mdi-account-edit"></span>&ensp;Edit
                        </a>
                        <a class="button is-info is-outlined" onclick=uploadAvatarModal()>
                            <span class="mdi mdi-emoticon-plus-outline"></span>&ensp;Upload avatar
                        </a>
                        <a class="button is-info is-outlined" onclick=removeAvatarModal()>
                            <span class="mdi mdi-emoticon-minus-outline"></span>&ensp;Remove avatar
                        </a>
                        {{if .User.Enabled}}
                            <a class="button is-warning is-outlined" onclick="disableUserModal()">
                                <span class="mdi mdi-account-lock"></span>&ensp;Disable
                            </a>
                            {{if and (checkPermission .UserPermissions "SuperUser") (not .Assumed)}}
                                <a class="button is-warning is-outlined" onclick="assumeUserModal()">
                                    <span class="mdi mdi-account-child"></span>&ensp;Assume user
                                </a>
                            {{end}}
                        {{else}}
                            <a class="button is-warning is-outlined" onclick="enableUserModal()">
                                <span class="mdi mdi-account-lock-open"></span>&ensp;Enable
                            </a>
                        {{end}}
                        <a class="button is-danger is-outlined" onclick="deleteUserModal()">
                            <span class="mdi mdi-account-remove"></span>&ensp;Delete
                        </a>
                    </div>
                {{end}}
            </div>
            <div class="column">
                <p id="message" style="color: green"></p>
                <p id="error" style="color: red"></p>
                {{$roleAdmin := checkPermission .UserPermissions "ManageMembers.Group"}}
                {{$permissionAdmin := checkPermission .UserPermissions "ManageMembers.Permission"}}
                {{with .User}}
                    {{getUserModifierField .DeletedBy .DeletedAt "Deleted"}}
                    <table style="border-collapse: collapse; padding-left: 10px;">
                        <tbody>
                        <tr style="border: none; padding-bottom: 5px;">
                            <td style="border: none; padding-right: 20px;">
                                User ID
                            </td>
                            <td style="border: none;">
                                {{.UserID}}
                            </td>
                        </tr>
                        <tr style="border: none; padding-bottom: 5px;">
                            <td style="border: none; padding-right: 20px;">
                                First name
                            </td>
                            <td style="border: none;">
                                {{.Firstname}}
                            </td>
                        </tr>
                        <tr style="border: none; padding-bottom: 5px;">
                            <td style="border: none; padding-right: 20px;">
                                Nickname
                            </td>
                            <td style="border: none;">
                                {{.Nickname}}
                            </td>
                        </tr>
                        <tr style="border: none; padding-bottom: 5px;">
                            <td style="border: none; padding-right: 20px;">
                                Last name
                            </td>
                            <td style="border: none;">
                                {{.Lastname}}
                            </td>
                        </tr>
                        <tr style="border: none; padding-bottom: 5px;">
                            <td style="border: none; padding-right: 20px;">
                                Username
                            </td>
                            <td style="border: none;">
                                {{.Username}}
                            </td>
                        </tr>
                        <tr style="border: none; padding-bottom: 5px;">
                            <td style="border: none; padding-right: 20px;">
                                Email
                            </td>
                            <td style="border: none;">
                                {{.Email}}
                            </td>
                        </tr>
                        {{if gt (len .UniversityUsername) 0}}
                            <tr style="border: none; padding-bottom: 5px;">
                                <td style="border: none; padding-right: 20px;">
                                    University username
                                </td>
                                <td style="border: none;">
                                    {{.UniversityUsername}}
                                </td>
                            </tr>
                        {{end}}<br>
                        <tr style="border: none; padding-bottom: 5px;">
                            <td style="border: none; padding-right: 20px;">
                                Enabled
                            </td>
                            <td style="border: none;">
                                {{.Enabled}}
                            </td>
                        </tr>
                        <tr style="border: none; padding-bottom: 5px;">
                            <td style="border: none; padding-right: 20px;">
                                Reset password required
                            </td>
                            <td style="border: none;">
                                {{.ResetPw}}
                            </td>
                        </tr>
                        <tr style="border: none; padding-bottom: 5px;">
                            <td style="border: none; padding-right: 20px;">
                                Login type
                            </td>
                            <td style="border: none;">
                                {{.LoginType}}
                            </td>
                        </tr>
                        {{if .LDAPUsername.Valid}}
                            <tr style="border: none; padding-bottom: 5px;">
                                <td style="border: none; padding-right: 20px;">
                                    LDAP (Active Directory) username
                                </td>
                                <td style="border: none;">
                                    {{.LDAPUsername.String}}
                                </td>
                            </tr>
                        {{end}}
                        <tr style="border: none; padding-bottom: 5px;">
                            <td style="border: none; padding-right: 20px;">
                                Avatar source
                            </td>
                            <td style="border: none;">
                                {{if .UseGravatar}}Using gravatar{{else}}Using local file{{end}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    {{if gt (len .Permissions) 0}}
                        Permissions:
                        <ol>
                            {{range .Permissions}}
                                <li style='list-style-type: none;'><span class='tab'></span>
                                    {{if $permissionAdmin}}
                                        <a href="/internal/permission/{{.PermissionID}}">{{.Name}}</a>
                                    {{else}}
                                        {{.Name}}
                                    {{end}}
                                </li>
                            {{end}}
                        </ol><br>
                    {{end}}
                    {{if gt (len .Roles) 0}}
                        Roles:
                        <ol>
                            {{range .Roles}}
                                <li style='list-style-type: none;'><span class='tab'></span>
                                    {{if $roleAdmin}}
                                        <a href="/internal/role/{{.RoleID}}">{{.Name}}</a>
                                    {{else}}
                                        {{.Name}}
                                    {{end}}
                                </li>
                            {{end}}
                        </ol><br>
                    {{end}}
                    {{if .LastLogin.Valid}}
                        Last login at {{.LastLogin.String}}<br>
                    {{end}}
                    <p>
                    {{getUserModifierField .CreatedBy .CreatedAt "Created"}}
                    {{getUserModifierField .UpdatedBy .UpdatedAt "Updated"}}
                    </p>
                {{end}}
            </div>
        </div>
        {{if gt (len .User.Officers) 0}}
            <div class="card events-card">
                <header class="card-header">
                    <p class="card-header-title">Officerships</p>
                </header>
                <div class="card-table" style="max-height: 100em;">
                    <div class="content">
                        <table class="table is-fullwidth is-hoverable">
                            <thead>
                            <tr>
                                <th>Officer ID</th>
                                <th>Name</th>
                                <th>Start date</th>
                                <th>End date</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{range .User.Officers}}
                                <tr>
                                    <th>{{.OfficershipMemberID}}</th>
                                    <td>{{.OfficershipName}}</td>
                                    <td>{{if .StartDate.Valid}}{{formatOfficershipDate .StartDate.Time}}{{else}}UNKNOWN{{end}}</td>
                                    <td>{{if .EndDate.Valid}}{{formatOfficershipDate .EndDate.Time}}{{else}}Incumbent{{end}}</td>
                                    <td>
                                        <a class="button is-info is-outlined"
                                           href="/internal/officership/officer/{{.OfficershipMemberID}}">
                                            <span class="mdi mdi-eye-arrow-right-outline"></span>&ensp;View
                                        </a>
                                    </td>
                                </tr>
                            {{end}}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Officer ID</th>
                                <th>Name</th>
                                <th>Start date</th>
                                <th>End date</th>
                                <th>Actions</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        {{end}}
    </div>
    {{if not .User.DeletedAt.Valid}}
        {{template "modals" .}}
    {{end}}
{{end}}

{{define "modals"}}
    <div id="resetPasswordModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title">Are you sure you want to reset the password?</p>
                            <p>An email will be sent to the user for
                                them to reset their password</p>
                            <a class="button is-danger" onclick="resetPassword()"><span
                                        class="mdi mdi-account-key"></span>&ensp;Reset password</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="editUserModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title">Are you sure you want to edit this user?</p>
                            <p><strong>This action cannot be undone</strong><br>
                                Use the fields below to modify the user, to not change a field, either leave it as
                                is or blank.</p>
                            <form action="/internal/user/{{.User.UserID}}/edit" method="post">
                                <div class="field">
                                    <label class="label" for="firstname">First name</label>
                                    <div class="control">
                                        <input
                                                id="firstname"
                                                class="input"
                                                type="text"
                                                name="firstname"
                                                placeholder="First name"
                                                value="{{.User.Firstname}}"
                                        />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="nickname">Nickname</label>
                                    <div class="control">
                                        <input
                                                id="nickname"
                                                class="input"
                                                type="text"
                                                name="nickname"
                                                placeholder="Nickname"
                                                value="{{.User.Nickname}}"
                                        />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="lastname">Last name</label>
                                    <div class="control">
                                        <input
                                                id="lastname"
                                                class="input"
                                                type="text"
                                                name="lastname"
                                                placeholder="Last Name"
                                                value="{{.User.Lastname}}"
                                        />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="username">Username</label>
                                    <div class="control">
                                        <input
                                                id="username"
                                                class="input"
                                                type="text"
                                                name="username"
                                                placeholder="Username"
                                                value="{{.User.Username}}"
                                        />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="universityusername">University username</label>
                                    <div class="control">
                                        <input
                                                id="universityusername"
                                                class="input"
                                                type="text"
                                                name="universityusername"
                                                placeholder="University username"
                                                value="{{.User.UniversityUsername}}"
                                        />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="ldapusername">LDAP username</label>
                                    <div class="control">
                                        <input
                                                id="ldapusername"
                                                class="input"
                                                type="text"
                                                name="ldapusername"
                                                placeholder="LDAP username"
                                                value="{{.User.LDAPUsername.String}}"
                                        />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="email">Email</label>
                                    <div class="control">
                                        <input
                                                id="email"
                                                class="input"
                                                type="email"
                                                name="email"
                                                placeholder="Email"
                                                value="{{.User.Email}}"
                                        />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="logintype">Login type (not for change yet)</label>
                                    <div class="control">
                                        <input
                                                id="logintype"
                                                class="input"
                                                type="text"
                                                name="logintype"
                                                placeholder="Login type"
                                                value="{{.User.LoginType}}"
                                                disabled
                                        />
                                    </div>
                                </div>
                                <button class="button is-danger"><span class="mdi mdi-account-edit"></span>&ensp;Edit
                                    user
                                </button>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    {{if .User.Enabled}}
        <div id="disableUserModal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <p class="title">Are you sure you want to disable this account?</p>
                                <p>This user won't be able to log in until it is re-enabled</p>
                                <form action="/internal/user/{{.User.UserID}}/toggle" method="post">
                                    <button class="button is-danger"><span class="mdi mdi-account-lock"></span>&ensp;Disable
                                        user
                                    </button>
                                </form>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>
    {{else}}
        <div id="enableUserModal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <p class="title">Are you sure you want to enable this account?</p>
                                <p>This user will be able to log in again</p>
                                <form action="/internal/user/{{.User.UserID}}/toggle" method="post">
                                    <button class="button is-danger"><span class="mdi mdi-account-lock-open"></span>&ensp;Enable
                                        user
                                    </button>
                                </form>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>
    {{end}}
    <div id="deleteUserModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title">Are you sure you want to delete this account?</p>
                            <p>This user won't be able to log in or access any functions forever</p>
                            <form action="/internal/user/{{.User.UserID}}/delete" method="post">
                                <button class="button is-danger"><span class="mdi mdi-account-remove"></span>&ensp;Delete
                                    user
                                </button>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    {{if and (checkPermission .UserPermissions "SuperUser") (not .Assumed)}}
        <div id="assumeUserModal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <p class="title">Are you sure you want to assume this user?</p>
                                <p>Your current permissions may not work and your actions will appear as though it was
                                    from this user</p>
                                <form action="/internal/user/{{.User.UserID}}/assume" method="post">
                                    <button class="button is-danger"><span class="mdi mdi-account-child"></span>&ensp;Assume
                                        user
                                    </button>
                                </form>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>
    {{end}}
    <div id="uploadAvatarModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title">Upload avatar</p>
                            <form id="uploadAvatarForm" enctype="multipart/form-data">
                                <div class="field">
                                    <label class="label" for="useGravatar">Use Gravatar</label>
                                    <div class="control">
                                        <input
                                                id="useGravatar"
                                                class="checkbox"
                                                type="checkbox"
                                                name="useGravatar"
                                                onclick="addAvatarModalPreview()"
                                        />
                                    </div>
                                </div>
                                <div class="field" id="avatarUploadBlock">
                                    <label class="label" for="uploadAvatar">Avatar</label>
                                    <div class="file is-info has-name">
                                        <label class="file-label">
                                            <input class="file-input" type="file" accept="image/*" name="upload"
                                                   id="uploadAvatar" onchange="previewAvatar(event)">
                                            <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fa fa-upload"></i>
                                            </span>
                                            <span class="file-label">Choose a file…</span>
                                        </span>
                                            <span class="file-name"
                                                  id="uploadAvatarName">{{if .User.UseGravatar}}Using gravatar{{else if gt (len .User.Avatar) 0}}Uploaded{{else}}No file{{end}}</span>
                                        </label>
                                    </div>
                                    <label class="label" for="preview">Preview</label>
                                    <img id="preview" data-src="{{.User.Avatar}}" alt="/public/ystv-colour-white.png"
                                         onerror="this.onerror=null;this.src='/public/ystv-colour-white.png';"
                                         src="/public/ystv-colour-white.png"
                                         style="border: 5px; max-height: 200px; max-width: 200px;" class="lazy">
                                </div>
                                <a class="button is-info" onclick="uploadAvatar()" id="uploadAvatarButton">
                                    Upload avatar / use Gravatar
                                </a>
                            </form>
                            <div id="uploadAvatarErrorParent" style="display: none">
                                <br><br>
                                <div class="notification is-danger" id="uploadAvatarError"></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="removeAvatarModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title" id="removeAvatarModalTitle">Are you sure you want to remove your avatar?</p>
                            <form method="post" id="removeAvatarModalForm">
                                <a class="button is-danger" onclick="removeAvatar()" id="removeAvatarButton">Remove Avatar</a>
                            </form>
                            <div id="removeAvatarErrorParent" style="display: none">
                                <br><br>
                                <div class="notification is-danger" id="removeAvatarError"></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <script>
        let uploadAvatarInput = $('#uploadAvatar')
        uploadAvatarInput.change(function () {
            $('#uploadAvatarName').text(uploadAvatarInput[0].files[0].name);
        });

        document.querySelectorAll(
            ".modal-background, .modal-close,.modal-card-head .delete, .modal-card-foot .button"
        ).forEach(($el) => {
            const $modal = $el.closest(".modal");
            $el.addEventListener("click", () => {
                $modal.classList.remove("is-active");
            });
        });

        function resetPasswordModal() {
            document.getElementById("resetPasswordModal").classList.add("is-active");
        }

        {{if .User.Enabled}}
        function disableUserModal() {
            document.getElementById("disableUserModal").classList.add("is-active");
        }
        {{if and (checkPermission .UserPermissions "SuperUser") (not .Assumed)}}
        function assumeUserModal() {
            document.getElementById("assumeUserModal").classList.add("is-active");
        }
        {{end}}
        {{else}}
        function enableUserModal() {
            document.getElementById("enableUserModal").classList.add("is-active");
        }
        {{end}}
        function editUserModal() {
            document.getElementById("editUserModal").classList.add("is-active");
        }

        function deleteUserModal() {
            document.getElementById("deleteUserModal").classList.add("is-active");
        }

        function resetPassword() {
            $.ajax({
                url: '/internal/user/{{.User.UserID}}/reset',
                type: "post",
                dataType: "json",
                contentType: "application/x-www-form-urlencoded",
                success: function (data) {
                    document.getElementById("resetPasswordModal").classList.remove("is-active");
                    $("#message").html(data.message);
                    $("#error").html(data.error);
                },
            });
        }

        function previewAvatar(event) {
            let input = event.target;
            let avatar = document.getElementById('preview');
            if (input.files && input.files[0]) {
                let reader = new FileReader();
                reader.onload = function(e) {
                    avatar.src = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        function uploadAvatarModal() {
            document.getElementById("uploadAvatar").value = "";
            $('#uploadAvatarName').text("{{if .User.UseGravatar}}Using gravatar{{else if gt (len .User.Avatar) 0}}Uploaded{{else}}No file{{end}}");
            {{if and (not .User.UseGravatar) (gt (len .User.Avatar) 0)}}
            document.getElementById("preview").src = "{{.User.Avatar}}";
            {{end}}
            document.getElementById("useGravatar").checked = {{if .User.UseGravatar}}true{{else}}false{{end}};
            addAvatarModalPreview();
            document.getElementById("uploadAvatarModal").classList.add("is-active");
            document.getElementById("uploadAvatarErrorParent").style.display = "none";
        }

        function uploadAvatar() {
            console.log(1);
            document.getElementById("uploadAvatarButton").disabled = true;
            let form = $('#uploadAvatarForm')[0];

            // Create an FormData object
            let data = new FormData(form);
            $.ajax({
                url: '/internal/user/{{.User.UserID}}/uploadavatar',
                type: 'post',
                dataType: 'json',
                contentType: false,
                processData: false,
                data: data,
                success: function (data) {
                    console.log(2);
                    if (data.error.length > 0) {
                        $("#uploadAvatarError").html(data.error);
                        document.getElementById("uploadAvatarButton").disabled = false;
                        document.getElementById("uploadAvatarErrorParent").style.display = null;
                    } else {
                        window.location.href = "/internal/user/{{.User.UserID}}";
                    }
                },
            })
        }

        function addAvatarModalPreview() {
            const useGravatar = document.getElementById('useGravatar');
            const teamBlock = document.getElementById('avatarUploadBlock');
            if (useGravatar.checked) {
                teamBlock.style.display = "none";
            } else {
                teamBlock.style.display = null;
            }
        }

        function removeAvatarModal() {
            document.getElementById("removeAvatarModal").classList.add("is-active");
        }

        function removeAvatar() {
            document.getElementById("removeAvatarButton").disabled = true;
            $.ajax({
                url: '/internal/user/{{.User.UserID}}/removeavatar',
                type: 'post',
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.error.length > 0) {
                        $("#removeAvatarError").html(data.error);
                        document.getElementById("removeAvatarButton").disabled = false;
                        document.getElementById("removeAvatarErrorParent").style.display = null;
                    } else {
                        window.location.href = "/internal/user/{{.User.UserID}}";
                    }
                },
            })
        }
    </script>
{{end}}